{% load static %}
<section data-bs-version="5.1" class="header14 cid-toZxbIq19V mbr-fullscreen" id="header14-3">


    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 image-wrapper">
                <img src="{% static 'images/taiwan-ga50f5bab8-1920-1256x1884.jpg' %}" alt="Mobirise Website Builder">
            </div>
            <div class="col-12 col-md">
                <div class="text-wrapper">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2">
                        <strong>TeCAriquemes</strong></h1>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Full width intro with a sold background and a picture on the side. You can easily change the
                        size of image in block parameters.</p>
                    <div class="mbr-section-btn mt-3"><a class="btn btn-success display-4" href="https://mobiri.se">Explore
                            all features</a>
                        <a class="btn btn-black display-4" href="https://mobiri.se">Create
                            account &gt;</a></div>
                </div>
            </div>
        </div>
    </div>
</section>