{% load static %}
<section data-bs-version="5.1" class="slider3 mbr-embla cid-toZy0QAWhp" id="slider3-8">




    <div class="position-relative text-center">
        <div class="col-12">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong>Nosso Time</strong></h3>

        </div>
        <div class="embla" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-auto-play-interval="5" data-draggable="true">
            <div class="embla__viewport container-fluid">
                <div class="embla__container">
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="card-wrap">
                            <div class="item-wrapper position-relative">
                                <div class="image-wrap">
                                    <img src="{% static 'images/team1.jpg' %}" alt="Mobirise Website Builder">
                                </div>
                            </div>
                            <div class="content-wrap">
                                <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                                    <strong>John Smith</strong>
                                </h5>
                                <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                                    <strong>Programmer</strong>
                                </h6>
                                <p class="card-text mbr-fonts-style align-center display-7">
                                    No special actions required, all sites you make with Mobirise are mobile-friendly.
                                </p>
                                <div class="social-row display-7">
                                    <div class="soc-item">
                                        <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://twitter.com/mobirise" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-twitter"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://instagram.com/mobirise" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-instagram"></span>
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="card-wrap">
                            <div class="item-wrapper position-relative">
                                <div class="image-wrap">
                                    <img src="{% static 'images/team2.jpg' %}" alt="Mobirise Website Builder">
                                </div>
                            </div>
                            <div class="content-wrap">
                                <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                                    <strong>Sarah Palmer</strong>
                                </h5>
                                <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                                    <strong>Manager</strong>
                                </h6>
                                <p class="card-text mbr-fonts-style align-center display-7">
                                    Use Mobirise website building software to create multiple sites for your clients.
                                </p>
                                <div class="social-row display-7">
                                    <div class="soc-item">
                                        <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://twitter.com/mobirise" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-twitter"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://instagram.com/mobirise" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-instagram"></span>
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="card-wrap">
                            <div class="item-wrapper position-relative">
                                <div class="image-wrap">
                                    <img src="{% static 'images/team3.jpg' %}" alt="Mobirise Website Builder">
                                </div>
                            </div>
                            <div class="content-wrap">
                                <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                                    <strong>Jessica Swift</strong>
                                </h5>
                                <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                                    <strong>Analyst</strong>
                                </h6>
                                <p class="card-text mbr-fonts-style align-center display-7">
                                    Create multiple pages. Don't forget to set links to your pages after creating them.
                                </p>
                                <div class="social-row display-7">
                                    <div class="soc-item">
                                        <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://twitter.com/mobirise" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-twitter"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://instagram.com/mobirise" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-instagram"></span>
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="card-wrap">
                            <div class="item-wrapper position-relative">
                                <div class="image-wrap">
                                    <img src="{% static 'images/team4.jpg' %}" alt="Mobirise Website Builder">
                                </div>
                            </div>
                            <div class="content-wrap">
                                <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                                    <strong>Sarah Taylor</strong>
                                </h5>
                                <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                                    <strong>Analyst</strong>
                                </h6>
                                <p class="card-text mbr-fonts-style align-center display-7">
                                    Create multiple pages. Don't forget to set links to your pages after creating them.
                                </p>
                                <div class="social-row display-7">
                                    <div class="soc-item">
                                        <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://twitter.com/mobirise" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-twitter"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://instagram.com/mobirise" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-instagram"></span>
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="embla__button embla__button--prev">
                <span class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Previous</span>
            </button>
            <button class="embla__button embla__button--next">
                <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>